{
    "parser" : "babel-eslint",
    "extends": "eslint-config-airbnb",
    "rules": {
        // override default options
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prefer-stateless-function": 0,
        "import/no-extraneous-dependencies": 0,
        "import/first": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/prefer-default-export": 0,
        "react/forbid-prop-types": 0,
        "no-use-before-define": ["error", { "functions": false, "classes": false }],
        "arrow-body-style": ["error", "as-needed"],
        "react/sort-comp": 0
    }
}
